.classpath
.project
.settings
target
project/target
project/project/target
.scala_dependencies
classes
.cache
ong.db
fechamento.csv
bin
build
tmp
.gradle
*~
*.sw*
keystore.jks
*.pem
cert.pfx
.tmpBin
a.csv
